*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-position: center;
    font-family:Arial;
}

.container {
    padding: 5%;
    
}

nav {
background-color: black;
text-align: center;

}

nav ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}

nav ul li {
    width: 120px;
    margin: 15px;
    padding:5px;
   
}

nav ul li a{
    color: white;
 
}
h2 {
    text-align: center;
}

p.one {
    text-align: center;
    margin-bottom: 4px;

}

img { 
    border-radius: 55px;
    border-width: 30px;
    display: block;
    margin: 0 auto 0 auto;
    width: 500px;
    height: 300px;   
    opacity: 1px;
}

P {
    text-align: center;
    margin-top: 2px;
}

#me {
    margin: auto;
    width: 450px;
}

h3{
    text-align: center;
    margin-top: 10px;
}

p a {
    color: #ff0000;
}

.number {
    padding: 5px;
    width: 100%;
    background-color: gray;
    justify-content: center;
    text-align: center;
    display: flex;
}

.number a {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    align-items: center;
}
 
.num {
      color:#ff0000;
      text-decoration: none;
}
