body {
    /* text-align: center; */
    padding: 0px 30%;
    font-family:Arial;
}
h2 {
    text-align: center;
}

p.one {
    text-align: center;
}

img { 
    border-radius: 55px;
    border-width: 30px;
    padding: 20px; 
    width: 500px;
    height: 300px;   
    opacity: 1px;
}

P {
    text-align: center;
}

h3{
    text-align: center;
}

.container {
    padding: 5px;
    
}

nav {
background-color: black;
}

nav ul {
    text-align: center;
    padding: 20px 50px 20px 50px;
    width: 80%;
    justify-content: center;

   
}

nav ul li {
    text-align: center;
    display: inline;
    margin: 12px;
   
}

nav ul li a{
    color: white;
 
}
 
p a {
    color: #ff0000;
}

.number {
    padding: 5px;
    width: 100%;
    background-color: gray;
    justify-content: center;
    text-align: center;
    display: flex;
}

number a {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    align-items: center;
}
 
.num {
      color:#ff0000;
      text-decoration: none;
}
