body {
    /* text-align: center; */
    padding: 0 30%;
    font-family:Arial, Helvetica, sans-serifs;
}
h1 {
    text-align: center;
}
img { 
    border-radius: 40px;
    border-width: 5px;
    padding: 20px; 
    width: 500px;
    height: 300px;    
}
p {
    text-align: center;
}
h2{
    text-align: center;
}

.container {
    padding: 5px;
}
nav {
background-color: black;
}

nav ul {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-left: 4px
    
}

nav ul li {
    text-align: center;
    display: inline;
    padding-left: 50px;
    padding-right: 50px;
   
}

nav ul li a{
    color: white;
}

p a{
     color: #ff0000;
}

.number {
    padding: 5px;
    width: 100%;
    display: flex;
    background-color: grey;
    justify-content: center;
    text-align: center;
}

number a {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    
}

.num{
    text-decoration: none;
    color: white;

}
/* number  {
    color: white;
    width: 100%;
    display: flex;
} */